.checkout-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .checkout-item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
  }
  
  .checkout-item .item-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .checkout-item .item-details h4 {
    font-size: 1.2em;
    margin: 0;
    color: #333;
  }
  
  .checkout-item .item-details p {
    margin: 5px 0;
    color: #666;
  }
  
  .checkout-item .item-price {
    font-weight: bold;
    font-size: 1.2em;
    color: #007bff;
  }
  
  .checkout-summary {
    margin-top: 20px;
    text-align: right;
  }
  
  .checkout-summary .total-price {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
  }


.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 1000;
  animation: fadeInOut 3s ease-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
